
{% extends "main.html" %}

{% block content %}
      
     
  

  <body class="app flex-row align-items-center">

  <form name="forgotform" class="container" ng-App="newApp" ng-controller="loginCtrl">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card-group">
          <div class="card p-4">
            <h3 style="text-align:center">Forgot Password?</h3>
              <div class="card-body">
                
                <!--<p class="text-muted">Enter your registered email id</p>-->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-envelope"></i>
                    </span>
                  </div>
                  <!--<input class="form-control" type="text" ng-model="forgot.email" placeholder="Enter your registered email id">-->
                    <input class="form-control" type="email" name="email" ng-model="forgot.email"  required />
                  
                </div>
                <div class="row">
                  <div class="col-6">
                    <button class="btn btn-primary px-4" ng-click="sendResetEmail()" type="button">Reset</button>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </form>
    
    
  </body>

  </html>
 {% endblock content %}